
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myShoppingLabel" data-translate="trainingApp.shopping.home.createOrEditLabel">Create or edit a Shopping</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.shopping.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.shopping.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trainingApp.shopping.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                    ng-model="vm.shopping.number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trainingApp.shopping.extra1" for="field_extra1">Extra 1</label>
            <input type="text" class="form-control" name="extra1" id="field_extra1"
                    ng-model="vm.shopping.extra1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trainingApp.shopping.extra2" for="field_extra2">Extra 2</label>
            <input type="text" class="form-control" name="extra2" id="field_extra2"
                    ng-model="vm.shopping.extra2"
                    />
        </div>

        <div class="form-group">
            <label data-translate="trainingApp.shopping.suser" for="field_suser">Suser</label>
            <select class="form-control" id="field_suser" name="suser" ng-model="vm.shopping.suserId" ng-options="sUser.id as sUser.id for sUser in vm.susers"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="trainingApp.shopping.bookId" for="field_bookId">Book Id</label>
            <select class="form-control" id="field_bookId" name="bookId" ng-model="vm.shopping.bookIdId" ng-options="books.id as books.id for books in vm.books"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
